body {
    margin: 0px;
}

img {

    width: 100px;
    height: 100px;
}

h3 {
    margin: 10px;
}


a {
    display: flex;
    justify-content: center;
}

.header {

    padding-bottom: 30px;
    height: 70px;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleHeader {
    display: flex;
    align-items: center;
    background-color: #059A98;
    font-size: 1.3em;
}

.btnHeader {


}

.btnHeaderCall {

}

.logo {

}

.inputValue {
    height: 18px;
}

.box {
    display: flex;

}

.boxWrapper {
    position: relative;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.boxWrapper i {
    position: absolute;
    right: 70px;
    top: 5px;
    color: coral;
}

.intro {

}

.introWrapper {
    display: flex;
    height: 250px;
}

.infoIntro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.selectIntro {
    height: 20px;
}

.optionIntro {

}

.inputIntro {

}

.btnIntro {

}

.usersIntro {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.userWrapper {
    display: flex;
    align-items: center;
    margin: 10px;
}

.userWrapper i {

}

.imageUsersIntro {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.userNameWrapper {
    margin-left: 10px;
    flex: 1;
}

.refreshIconIntro {
    margin-right: 30px;
    cursor: pointer;
}

.slideIntro {
    position: relative;
    flex: 1;
}

.slideWrapperIntro {

}

.slideWrapperIntro img {
    width: 100%;
    height: 100%;
}

.btnSlideLeftIntro,
.btnSlideRightIntro {
    position: absolute;
    opacity: 23%;
    height: 250px;
    cursor: pointer;
}

.btnSlideRightIntro {
    right: 0;
}

.iconSlideLeftIntro,
.iconSlideRightIntro {
    display: flex;
    color: black;

}

.work {
    display: flex;
    width: 100%;
    height: 300px;
}

.workWrapper {

}

.workImage {
    width: 100%;
    height: 300px;
}

.chartWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: seagreen;
    margin: 20px;
    height: 300px;
}

.column {
    text-align: center;
    color: white;
    width: 50px;
    background-color: coral;
}


.taskSearch {
    border: 2px solid coral;
}

.taskWrapper {
    display: flex;
    width: 100%;
}

.newTaskInput {
    border: none;
    border-bottom: 1px solid;
    width: 300px;
    margin-right: 200px;
    margin-bottom: 10px;
}

.taskBtn {
    border-radius: 50px;
    background-color: #059A98;
    cursor: pointer;
}

.openTaskSection,
.doneTaskSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}

.taskSelect,
.doneTaskSelect {
    height: 20px;
    width: 50px;
}

.taskBlock,
.taskDoneBlock {
    display: flex;
    flex-direction: column;
    min-height: 160px;
}

.taskClearOpen {
    color: black;
}

.task {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    height: 20px;
}

.main {
    margin: 20px;
}

.fa-star {
    color: gold;
}

.fa-star-o {
    color: gold;
}

.fa-comment-o {
    margin-left: 25px;
    color: blue;
}


.mainWrapper {

    min-height: 350px;
}

.mainLeftWrapper,
.mainRightWrapper {
    display: flex;
    justify-content: space-between;
}


.mainBoxLeft,
.mainBoxRight {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
    box-shadow: 1px 1px 9px 1px yellow;
    width: 250px;
    min-height: 250px;
    margin: 10px;
}

.mainBoxLeft:hover,
.mainBoxRight:hover {
    transform: scale(1.1);
    background-color: silver;
}

.mainBoxLeftImg,
.mainBoxRightImg {
    text-align: center;
}

.mainBoxLeftIcon,
.mainBoxRightIcon {
    font-size: 20px;
}

.mainBoxLeftTitle,
.mainBoxRightTitle {

}

.mainPriceLeft,
.mainPriceRight {
position: relative;

}

.mainPriceLeft a,
.mainPriceRight a {
    flex-direction: column;
    padding: 0px 15px;
    color: black;
    font-size: 14px;
}

.mainPriceLeft i,
.mainPriceRight i {

    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    color: red;
    width: 30px;
}

.fa-cart-plus {
    position: absolute;
    top: 5px;
    right: 16px;
    border: 1px solid black;
    border-radius: 50px;
    padding-right: 6px;
}

.fa-cart-plus:hover {
    background-color: gold;
    color: white;
    transform: scale(0.7);
    cursor: pointer;
}

.oldPriceMain {
    text-decoration: line-through;
}

.newPriceMain {
    text-decoration: none;
}

.titleMain {
    text-align: center;
    white-space: pre;
    font-size: 12px;
    color: black;
    text-decoration: none;
    height: 20px;

}

.mainBoxLeftDelivery,
.mainBoxRightDelivery {
    position:absolute;
    bottom: 0;
    right: 30px;
}

.mainBoxLeftDelivery a,
.mainBoxRightDelivery a {
    text-decoration: none;
}

.footer {
    display: flex;
    background-color: gold;
}

.taskBlock {

}

.footerWrapper {
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}

.selectFooter {
    height: 18px;
}

.footerMap {
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


