input {

}

.ads {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.ads a {
    text-decoration: none;
}

.ads a:hover {
    color: red;
    transform: scale(1.2);
    border: 2px dashed black ;
}

.input-box > div {
    margin-bottom: 5px;
}

.success-notification {
    padding: 5px;
    background-color: lightgreen;
    border: 1px solid darkgreen;
}

.error-notification {
    padding: 5px;
    background-color: red;
    border: 1px solid darkred;
}